useDynLib(edges, .registration=TRUE)

export(coalesce)
export(tcoalesce)
export(tcoalesce.complete.cases)
export(na.locf)
export(na.nocb)

export(edges)
export(rally)
export(cumrally)

export(na.cumsum)
export(na.cumprod)
export(na.cummax)
export(na.cummin)

export(tcoalesceI)
